/* Paleta de Cores Principal
   Azul Escuro: #102e6c
   Verde: #19b755
   Amarelo: #ecd00b
   Branco: #ffffff
   Azul Complementar: #0a1f4d
   Verde Complementar: #148a3b
   Amarelo Complementar: #bfa00a
*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Gothic', sans-serif;
}

main {
    flex: 1;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1020;
    background-color: #102e6c;
    /* Azul Escuro */
}

/* Navbar Customizations */
.navbar {
    padding: 0.8rem 1rem;
    position: sticky;
    top: 0;
    z-index: 1020;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-family: Asthoria, sans-serif;
    font-size: 2.5rem;
    text-align: left;
    padding-left: 3rem;
    color: #ffffff;
    /* Branco */
}

/* Ajustando a posição do dropdown */
.nav-item.dropdown .dropdown-menu {
    left: auto;
    right: 0;

    /*transform: translateX(-50%); /* Move o dropdown mais para a esquerda */
}

.nav-item.dropdown {
    max-width: 50%;
}

/* Botões */
.btn-primary {
    background-color: #102e6c !important;
    /* Azul Escuro */
    border-color: #102e6c !important;
    /* Azul Escuro */
}

.btn-primary:hover {
    background-color: #19b755 !important;
    /* Verde */
    border-color: #19b755 !important;
    /* Verde */
}

.btn-secondary {
    background-color: #19b755 !important;
    /* Verde */
    border-color: #19b755 !important;
    /* Verde */
}

.btn-secondary:hover {
    background-color: #102e6c !important;
    /* Azul Escuro */
    border-color: #102e6c !important;
    /* Azul Escuro */
}

.btn-accent {
    background-color: #ecd00b !important;
    /* Amarelo */
    border-color: #ecd00b !important;
    /* Amarelo */
    color: #102e6c !important;
    /* Azul Escuro */
}

.btn-accent:hover {
    background-color: #19b755 !important;
    /* Verde */
    border-color: #19b755 !important;
    /* Verde */
    color: #ffffff !important;
    /* Branco */
}

/* Hero Section */
.bg-light {
    background-color: #ffffff !important;
    /* Branco */
    color: #102e6c !important;
    /* Azul Escuro */
}

.hero h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #102e6c !important;
    /* Azul Escuro */
}

.hero p {
    font-size: 1.25rem;
    color: #19b755 !important;
    /* Verde */
}

/* Footer */
footer {
    font-size: 0.9rem;
    background-color: #102e6c;
    /* Azul Escuro */
    color: #ffffff;
    /* Branco */
    padding: 2rem 0;
}

footer h5 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

footer ul {
    padding-left: 0;
    list-style: none;
}

footer ul li {
    margin-bottom: 0.5rem;
}

footer ul li a {
    color: #ffffff;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer hr {
    border-top: 1px solid #ffffff;
    margin: 1.5rem 0;
}

footer p,
footer small {
    margin: 0;
}

@font-face {
    font-family: 'AsthoriaOutline';
    src: url('../fonts/AsthoriaOutline.otf') format('opentype');
}

@font-face {
    font-family: 'AsthoriaRough';
    src: url('../fonts/AsthoriaRough.otf') format('opentype');
}

@font-face {
    font-family: 'AsthoriaTrace';
    src: url('../fonts/AsthoriaTrace.otf') format('opentype');
}

@font-face {
    font-family: 'Asthoria';
    src: url('../fonts/Asthoria.otf') format('opentype');
}

@font-face {
    font-family: 'Gothic';
    src: url('../fonts/GOTHIC.TTF') format('truetype');
}

@font-face {
    font-family: 'GothicBold';
    src: url('../fonts/GOTHICB.TTF') format('truetype');
}

@font-face {
    font-family: 'GothicBoldOblique';
    src: url('../fonts/GOTHICBO.TTF') format('truetype');
}

@font-face {
    font-family: 'GothicBoldItalic';
    src: url('../fonts/GOTHICBI.TTF') format('truetype');
}

@font-face {
    font-family: 'GothicItalic';
    src: url('../fonts/GOTHICI.TTF') format('truetype');
}